.front {
  .page-title {
    display: inline-block;
    background-color: $mainYellow;
    padding: 15px 25px 5px 10px;
    margin: 10px 0 10px -10px;
    text-transform: uppercase;
  }

  .pane-title {
    margin-top: 10px;
  }
}
