/* Make banner bigger */
header[role="banner"] > div {
  max-height: none;
}
.site-header {
    max-height: 200px;
    overflow: hidden;

    .site-name {
      background-color: $oceanBlue;
      bottom: 15px;
      max-width: 275px;
    }
}

.center-content {
  text-align: center;
  margin: 0 auto;
}
.panel-col-top .inside {
  display: flex;
  flex-flow: row wrap;
}
.page-title {
  border-bottom: none !important;
  margin-bottom: 23px;
}

/* Mobile header fixes */
@media screen and (max-width: $display-large) {
  /* Site header with light blue background */
  .site-header {
    overflow: inherit;
  }
  .western-header nav {
    z-index: 1;
  }
}
