.not-logged-in div.error {
  background-image: none;
  border-color: #ffd14b;
  background-color: #ffe8a5;
  padding: 20px;
}

#user-login {
  & > div {
    display: flex;
    flex-flow: column;
  }

  #edit-submit {
    width: 200px;
    padding: 10px;
  }

  .item-list {
    order: 2;
    ul {
      padding: 0;
    }
  }
}
