.main-nav .menu {
  li {
    background-color: $oceanBlue;
  }

  li:hover, li:focus-within {
    background-color: $wwuBlue;

    >a {
      color: white;

      &:focus {
        color: $wwuLime;
      }
    }
  }
}
