.block-accordion-menu {
  .ui-state-default .accordion-link {
    background-color: $oceanBlue;
    border-left: solid $mainYellow 5px;
    padding: 20px;
    color: white;

    &:hover, &:focus, &:active {
      text-decoration: none;
      background-color: $wwuBlue;
      color: $wwuLime;
    }
  }

  .block-title {
    display: none;
  }
  .ui-icon {
    text-indent: 0;
    overflow: initial;
  }
}

@media (max-width: $display-medium) {
  .clean-cbe-aside {
    margin: 30px -10px 20px 0;

    ul {
      padding: 0;
    }
  }
}

.accordion-header.has-children .accordion-link {
  border-right: solid 2px white;
}

.block-accordion-menu .ui-accordion .ui-accordion-content.accordion-content-depth-2 {
  padding-left: 32px;
  background: transparent;
}

.block-accordion-menu .has-children .ui-icon {
  left: auto;
  margin: 0;
  right: 1.1em;
  top: 17%;
}

.block-accordion-menu .has-children,
.block-accordion-menu .has-children.ui-state-active,
.block-accordion-menu .has-children.active-trail {
  background: $oceanBlue;
}

.ui-accordion-icons .ui-icon {
  display: block;
  background-image: none;
}

.ui-icon:after {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.ui-state-default .ui-icon:after {
  content: '+';
}

.ui-state-active .ui-icon:after {
  content: '-';
}

.block-accordion-menu .has-children .ui-icon {
  left: auto;
  margin: 0;
  right: 1.1em;
  top: 17%;
}
