main {
  .clean-cbe {
    overflow: visible;
  }

  h2, h3 {
    display: inline-block;
    background-color: $mainYellow;
    padding: 15px 20px;
    margin: 30px 0 15px -25px;
    text-transform: uppercase;
  }

  h2:first-of-type {
    margin-top: 0px;
  }
}

.clean-cbe h2,
.clean-cbe h3 {
  margin-left: -18px
}

.wwu-75-percent-left-column h2,
.wwu-75-percent-left-column h3 {
  margin-left: -10px
}
