.info-box {
  background-color: $lightOceanBlue;
  padding-bottom: 20px;

  ul {
    margin: 0 10px;
  }
  li {
    line-height: 2em;
  }
  h2, h3 {
    display: block;
    background-color: $lightOceanBlue;
    margin: 0;
    padding: 30px;
  }
}

.info-box.smaller {
  max-width: 50%;
  margin: 0 auto 20px;
  text-align: center;
  background-color: $mainYellow;
  h2, h3 {
    background-color: $mainYellow;
  }
  @media (max-width: $display-medium) {
    max-width: none;
  }
}

.box-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .info-box {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    text-align: center;

    ul {
      text-align: left;
      max-width: 65%;
      margin: auto;
    }

    @media (max-width: $display-medium) {
      width: 100%;
    }
  }
}
