.quick-links {
  margin-top: -22%;

  li {
    list-style: none;
    padding: 0;
  }

  li a {
    @include button
  }
}

.quick-links a::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 40px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left;
}

#calculators::before {
  background-image: url('../images/Icon-Calculators.svg');
}
#budget-transfers::before {
  background-image: url('../images/Icon-BudgetTransfers.svg');
}
#fees-rates::before {
  background-image: url('../images/Icon-FeesRates.svg');
}
#operating-budget::before {
  background-image: url('../images/Icon-OperatingBudget.svg');
}
#forms-templates::before {
  background-image: url('../images/Icon-FormsTemplates.svg');
}
#peer-institutions::before {
  background-image: url('../images/Icon-PeerInstitutions.svg');
}
#contact-us::before {
  background-image: url('../images/Icon-ContactUs.svg');
}


@media (max-width: 549px) {
  .quick-links {
    margin-top: auto;
  }
}
