@mixin button {
  display: block;
  background-color: $oceanBlue;
  color: white;
  text-transform: uppercase;
  border-left: solid $mainYellow 5px;
  padding: 15px;
  margin-bottom: 5px;
  transition: ease .5s;
  height: 40px;
  line-height: 40px;

  &:hover, &:focus {
    text-decoration: none;
    background-color: $wwuBlue;
    color: $wwuLime;
  }
}
