h2.title.comments__title {
  width: 50%;
}

.comment__title.comment-title {
  background: #cce2f0;
}

.comment__title.comment-title a {
  color: #003f87;
}

.comment .new {
  background-color: #ffdd78;
  padding: 2px 10px;
  margin-left: 15px;
  color: #003f87;
}

h2.title.comment-form {
  margin-top: 2em;
}

.field-comment-body {
  margin: 1em 0;
}
